# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

# name: Build and deploy ASP.Net Core app to Azure Web App - cuisineapp

# on:
#   push:
#     branches:
#       - main
#   workflow_dispatch:

# jobs:
#   build:
#     runs-on: windows-latest

#     steps:
#       - uses: actions/checkout@v4

#       - name: Set up .NET Core
#         uses: actions/setup-dotnet@v4
#         with:
#           dotnet-version: '8.x'

#       - name: Build with dotnet
#         run: dotnet build ./api/src/Cuisine.Api/Cuisine.Api.csproj --configuration Release

#       - name: Run unit tests
#         run: dotnet test ./api/src/Cuisine.Test/Cuisine.Test.csproj --no-build --configuration Release --verbosity normal

#       - name: dotnet publish
#         run: dotnet publish ./api/src/Cuisine.Api/Cuisine.Api.csproj -c Release -o "${{env.DOTNET_ROOT}}/myapp"
      
#       - name: Setup Node.js
#         uses: actions/setup-node@v3
#         with:
#           node-version: 'lts/*'

#       - name: Install frontend dependencies
#         working-directory: frontend
#         run: npm install

#       - name: Build frontend
#         working-directory: frontend
#         run: npm run build

#       - name: Verify frontend build
#         run: ls frontend/dist

#       - name: Move frontend to backend output
#         run: |
#           mkdir -p "${{env.DOTNET_ROOT}}/myapp/wwwroot"
#           cp -R frontend/dist/* "${{env.DOTNET_ROOT}}/myapp/wwwroot/"

#       - name: List contents of backend output folder
#         run: ls -R "${{env.DOTNET_ROOT}}/myapp/wwwroot"

#       - name: Upload artifact for deployment job
#         uses: actions/upload-artifact@v4
#         with:
#           name: .net-app
#           path: ${{env.DOTNET_ROOT}}/myapp

#   deploy:
#     runs-on: windows-latest
#     needs: build
#     environment:
#       name: 'Production'
#       url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
#     permissions:
#       id-token: write #This is required for requesting the JWT

#     steps:
#       - name: Download artifact from build job
#         uses: actions/download-artifact@v4
#         with:
#           name: .net-app
      
#       - name: Login to Azure
#         uses: azure/login@v2
#         with:
#           client-id: ${{ secrets.AZURE_CLIENT_ID }}
#           tenant-id: ${{ secrets.AZURE_TENANT_ID }}
#           subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

#       - name: Deploy to Azure Web App
#         id: deploy-to-webapp
#         uses: azure/webapps-deploy@v3
#         with:
#           app-name: 'cuisineapp'
#           slot-name: 'Production'
#           package: .
